<header id="header-wrapper">
  <%= link_to root_path, id:"root-path" do %>
  <%= image_tag "fujii_data_rogo.png", class:"top-img"%>
  <% end %>
  <%= link_to '当院について', '/Users/fujiinamiki/projects/fujiiseikotsuin/app/views/detail.html.erb' %>
</header>

<body>
  <div class = "main">
    <div class = "main-left">
    test
    </div>
    <div class = "main-center">
      <%= image_tag "gaikan.png", class:"gaikan"%>
    </div>
    <div class = "main-right">
    test
    </div>
  </div>
</body>
